ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: lightgreen;
}
li {
  display: inline-block;
  padding: 15px 20px;
}
a {
  display: inline-block;
  text-align: center;
  font-family: sans-serif;
  color: #383838;
  text-decoration: none;
}
a:hover {
  color: white;
  font-style: oblique;
}
#expo {
  padding-top: 20px;
  margin-right: 20px;
  font-family: sans-serif;
  font-size: 20px;
  padding-bottom: 10px;
}
#me {
  padding-top: 20px;
  padding-left: 20px;
  float: left;
  display: inline;
  max-width: 30%;
  padding-right: 20px;
}
.link {
  color: lightgreen;
  text-decoration: none;
}
.link:hover {
  color: darkgreen;
  font-style: normal;
}
#logos {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 99%;
  display: block;
  text-align: center;
  padding-top: 10px;
  border-top: 2px dashed lightgreen;
}
#email {
  width: 32px;
  height: auto;
  margin-right: 20px;
}
#github {
  width: 32px;
  height: auto;
  margin-right: 20px;
}
#linked {
  width: 32px;
  height: auto;
  filter: brightness(0%);
}
