ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: lightgreen;
}
li {
  display: inline-block;
  padding: 15px 20px;
}
a {
  display: inline-block;
  text-align: center;
  font-family: sans-serif;
  color: #383838;
  text-decoration: none;
}
a:hover {
  color: white;
  font-style: oblique;
}
#me {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  height: auto;
}
#greeting {
  font-family: sans-serif;
  display: inline;
  text-align: center;
}
#about {
  font-family: sans-serif;
  text-align: center;
}
#disclaimer {
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
}
#logos {
  display: block;
  text-align: center;
  padding-top: 20px;
}
#github {
  width: 32px;
  height: auto;
  margin-right: 20px;
}
#linked {
  width: 32px;
  height: auto;
  filter: brightness(0%);
}
