ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: lightgreen;
}
li {
  display: inline-block;
  padding: 15px 20px;
}
a {
  display: inline-block;
  text-align: center;
  font-family: sans-serif;
  color: #383838;
  text-decoration: none;
}
a:hover {
  color: white;
  font-style: oblique;
}
iframe {
  margin-top: 30px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#logos {
  position: absolute;
  width: 99%;
  display: block;
  text-align: center;
  padding-top: 10px;
  border-top: 2px dashed lightgreen;
}
#email {
  width: 32px;
  height: auto;
  margin-right: 20px;
}
#github {
  width: 32px;
  height: auto;
  margin-right: 20px;
}
#linked {
  width: 32px;
  height: auto;
  filter: brightness(0%);
}
